html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
}

.table-container {
    width: 60vw;
    margin: 20px;
    display: flex;
}

.table {
    width: 50vw;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #f0f0f0;
    padding: 3px;
}

.table th._hidden,
.table td._hidden {
    display: none;
}

.table__head {
    background: #fafafa;
}

.table__head th div {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.sort {
    display: flex;
    flex-direction: column;
}

.sort span {
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #bdbdbd;
    cursor: pointer;
    margin: 2px 5px;
    transition: all 0.3s ease 0s;
}

.sort span:hover {
    border-top: 10px solid #7b7b7b;
}

.sort span._active {
    border-top: 10px solid #4b4b4b;
}

.sort span:first-child {
    transform: rotate(180deg);
}

.table__body tr {
    cursor: pointer;
    transition: all 0.7s ease 0s;
}

.table__body tr:hover {
    background: #f0f0f0;
}

.table__body tr._active {
    background: #f0f0f0;
}

.about p {
    margin: 0;
    -webkit-line-clamp: 2;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    overflow: hidden;
    /* Обрезаем всё за пределами блока */
}

.table__pages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.table__page {
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

.table__page:hover {
    color: #7b7b7b;
}

.table__page._active {
    font-weight: 700;
}

.table__setting {
    position: relative;
    padding: 0 10px;
}

.table__setting i {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.table__setting i:hover {
    color: #7b7b7b;
}

.table__setting-list {
    display: none;
    position: absolute;
    top: 5px;
    left: 35px;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.table__setting-list._active {
    display: block;
}

.table__setting-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.table__setting-item {
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 3px 0;
}

.form-container {
    margin: 20px;
}

.form {
    display: none;
}

.form._active {
    display: flex;
    flex-direction: column;
}

form input,
textarea {
    margin: 10px 0 0 0;
    padding: 5px 10px;
    width: 100%;
    min-height: 2em;
    border: 1px solid #7b7b7b;
    border-radius: 5px;
}